<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <script src="/player.js"></script>
    <title>ハグルでハグハグ - プレイヤー</title>
</head>
<body>
  <div class="main">
      <div id="session-name">ゲーム名</div>
      <div id="control-panel">
          <div id="rules-list">
              <p class="rules-list__header">ルール</p>
              <ul id="rules">
                  <li class="rule__item" th:each="rule : ${rules}">
                      <div th:class="(${rule.accessType.name()} == 'ASSIGNED')? 'rule\_\_assigned' : 'rule\_\_shared'">
                          <a class="rule__item__link" th:href="'/player/' + ${playerId} + '/game/' + ${gameId} + '/rule/' + ${rule.ruleNumber}">
                              <span class="rules-list__number" th:text="${rule.ruleNumber}">1</span>
                              <span class="rules-list__text" th:text="${rule.title}">hoge</span>
                          </a>
                      </div>
                  </li>
              </ul>
          </div>
          <div id="rule" th:if="${selectedRule != null}">
              <div class="rule__header">
                  <div id="rule__number" th:text="${selectedRule.ruleNumber}">1</div>
                  <div id="rule__title" th:text="${selectedRule.title}">あずにゃん</div>
              </div>
              <div id="rule__text" th:text="${selectedRule.text}">あずにゃんはかわいい</div>
          </div>
      </div>
  </div>
</body>
</html>