@use 'sass:map';
@use '~@angular/material' as mat;


.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview {
  display: flex;
  align-items: center;
  padding: 16px;
  font-size: 16px;
}

.selected {
  background-color: map.get(mat.$gray-palette, 200);
}